body {
    background-image:url(../pictures/Mt+view+1.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
  }

  nav{
    position: fixed;
    top: 0;
    width: 100%;
    z-index:1;
  }
  picture{
    float: left;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding-top :15px;
    padding-bottom: 15px;
    overflow: hidden;
    background-color: #80290e;
  }

  header{
      width:100% ;
    
  }

  h1 {
    background-color: #80290e; 
    color: white;
    float: left;
    padding-left: 20px;
    font-size: 30px !important;
    
    
  }

  ul a{
      display: block;
      padding: 10px;
      padding-top: 25px;
      padding-bottom: 25px;
      color: white;
      font-size: 25px;
      text-decoration: none;
  }
  
  li {
    float: right;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: black;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #80290e;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: black;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  li a:hover, .saleDrop:hover .salebtn {
    background-color: black;
  }
  
  li.saleDrop {
    display: inline-block;
  }
  
  .sale-content {
    display: none;
    position: absolute;
    background-color: #80290e;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .sale-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .sale-content a:hover {background-color: black;}
  
  .saleDrop:hover .sale-content {
    display: block;
  }

  /*body start*/

  .text {
    text-align: center;
    position: absolute;
    font-size: 40px;
    top: 190px;
    border: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 165px;
    margin-left: 165px;
    border: solid 5px;
    border-color:navy;
    background-color: #d5d7d9;
    color: #80290e;
  }

  .pics{
    margin-top: 350px;
    margin-right: 150px;
    margin-left: 150px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-between; 
  } 

  .A {
    border: solid 5px;
    border-color:navy;
    margin: 15px;
  }

  .B {
    border: solid 5px;
    border-color:navy;
    margin: 15px;
  }

  .C {
    border: solid 5px;
    border-color:navy;
    margin: 15px;
  }

  .D {
    border: solid 5px;
    border-color:navy;
    margin: 15px;
  }

  .E {
    border: solid 5px;
    border-color:navy;
    margin: 15px;
  }

  .F {
    border: solid 5px;
    border-color:navy;
    margin: 15px;
  }